<footer>
  <div class="container">
    <div class="footer-columns split-blocks">
      <div>
        <h2>Navegação</h2>
        <ul class="simple-list">
          <% for (const [path, text] of Object.entries(Object.assign(menuLinks.primary, menuLinks.secondary))) { %>
            <li><a href="<%=path%>"><%=text%></a></li>
          <% } %>
        </ul>
      </div>
      <div class="big">
        <h2>Endereço</h2>
        <address><%=contact.address%></address>
        <ul class="simple-list mt-3">
          <li><%=contact.phone%></li>
          <li><%=contact.email%></li>
        </ul>
      </div>
      <div>
        <h2>Funcionamento</h2>
        <table>
          <% for(const [dia, horario] of Object.entries(horariosFuncionamento)) { %>
            <tr>
              <th><%=dia%></th>
              <td><%=horario%></td>
            </tr>
          <% } %>
          </table>
      </div>
    </div>
    <div class="credits">Criado por Karran Lemos.</div>
  </div>
</footer>